.DS_Store
*.~*
*.iml
*.pyc
*.swp
appengine-generated
manifest
nbproject
out
play-framework

/.classpath
/.project
/.settings
/.idea

/eclipse
/dist
/lib
/logs
/modules
/precompiled
/samples-and-tests/lists-with-gae/.classpath
/samples-and-tests/lists-with-gae/.project
/samples-and-tests/lists-with-gae/.settings
/samples-and-tests/lists-with-gae/true
/test-result
/tmp
