lib/play-gae.jar
.DS_Store
test-result
tmp
logs
eclipse
*.~*
dist
*.pyc
nbproject
appengine-generated
precompiled
samples-and-tests/lists-with-gae/.classpath
samples-and-tests/lists-with-gae/.project
samples-and-tests/lists-with-gae/.settings
samples-and-tests/lists-with-gae/true

